In [1]:
#import numpy package
import numpy as np

In [2]:
# create an array of 10 zeros
nums=np.zeros(10)
nums

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [3]:
#create an array of 10 ones
nums=np.ones(10)
nums

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [6]:
# create an array of 10 fives
arr=np.array([5,5,5,5,5,5,5,5,5,5])
print(arr)

[5 5 5 5 5 5 5 5 5 5]

In [7]:
#create an array of the integers from10 to 50
twodim=np.arange(10,51)
twodim

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [8]:
# create an array of all the even integers from 10 t0 50
for num in twodim:
    if num % 2 == 0:
        print(num, end= " " )

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [9]:
# create a 3*3 matrix with values ranging from 0 to 8
x=np.arange(0,9)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [10]:
# Reshaping the array to 3*3
x2=x.reshape(3,3)
x2

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [11]:
#create a 3*3 identity matrix
idn=np.eye(3)
idn

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
#generate a random number between 0 and 1
random=np.random.randint(0,1,1)
random

array([0])

In [21]:
#use numpy to generate an array of 25  random numbers sampled from standard normal distribution
s=np.random.standard_normal(25)
s

array([ 0.18703068, -0.28251092, -0.17972592, -0.00282399,  0.87257518,
       -0.33590783, -1.72350508, -0.19497265,  1.16368118, -0.50396058,
        0.46817777, -0.7697111 ,  0.33528851, -0.64643149,  1.36084056,
       -0.51677811,  0.32540124,  0.88010459,  0.90696103,  0.77203351,
       -0.74697597, -0.45214246, -0.7045026 , -1.3449059 ,  1.31554765])

In [23]:
#sorting an array that ranges from 0 to 1 with a range of 0.01
y=np.arange(0,1.01,0.01)
y

array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99, 1.  ])

In [25]:
#create an array of 20 linearly spaced points between 0 and 1
w=np.linspace(0,1,20)
w

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [26]:
#creating a two dimensional array of 5 rows and 5 columns
z=np.arange(1,26)
z

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [27]:
z2=z.reshape(5,5)
z2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [29]:
# retrive elements from the last 3 rows and last 4 colums
print(z2[2:,1:])

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

In [31]:
# retrieve element in 4th row and 5th column
print(z2[3,4])

20

In [61]:
# retrieving second row the first threerows
print(z2[0:3:,1])

[ 2  7 12]

In [40]:
#retrieve the last row
print(z2[4])

[21 22 23 24 25]

In [41]:
# retrieve the last 3 rows
print(z2[3:,])

[[16 17 18 19 20]
 [21 22 23 24 25]]

In [63]:
#get sum of all the values 
mat=np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [64]:
print(np.sum(mat))

325

In [65]:
#calculate std
print(np.std(mat))

7.211102550927978

In [68]:
# get sum of all the columns in mat
print(np.sum(mat,axis=0))

[55 60 65 70 75]